@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {
  --palette-primary-50: #F0F7FF;
  --palette-primary-100: #C2E0FF;
  --palette-primary-200: #99CCF3;
  --palette-primary-300: #66B2FF;
  --palette-primary-400: #3399FF;
  --palette-primary-500: #007FFF;
  --palette-primary-600: #0072E5;
  --palette-primary-700: #0059B2;
  --palette-primary-800: #004C99;
  --palette-primary-900: #003A75;
  --palette-primary-main: #3399FF;
  --palette-primary-light: #66B2FF;
  --palette-primary-dark: #0059B2;
  --palette-primary-contrastText: rgba(0, 0, 0, 0.87);
  --palette-primary-mainChannel: 51 153 255;
  --palette-primary-lightChannel: 102 178 255;
  --palette-primary-darkChannel: 0 89 178;
  --palette-primary-contrastTextChannel: 0 0 0;
  --palette-divider: rgba(194, 224, 255, 0.08);
  --palette-primaryDark-50: #E2EDF8;
  --palette-primaryDark-100: #CEE0F3;
  --palette-primaryDark-200: #91B9E3;
  --palette-primaryDark-300: #5090D3;
  --palette-primaryDark-400: #265D97;
  --palette-primaryDark-500: #1E4976;
  --palette-primaryDark-600: #173A5E;
  --palette-primaryDark-700: #132F4C;
  --palette-primaryDark-800: #001E3C;
  --palette-primaryDark-900: #0A1929;
  --palette-primaryDark-main: #5090D3;
  --palette-primaryDark-mainChannel: 80 144 211;
  --palette-background-default: #001E3C;
  --palette-background-paper: #0a1929;
  --palette-background-defaultChannel: 0 30 60;
  --palette-common-black: #1D1D1D;
  --palette-common-white: #fff;
  --palette-common-background: #000;
  --palette-common-onBackground: #fff;
  --palette-common-backgroundChannel: 0 0 0;
  --palette-common-onBackgroundChannel: 255 255 255;
  --palette-text-primary: #fff;
  --palette-text-secondary: #B2BAC2;
  --palette-text-disabled: rgba(255, 255, 255, 0.5);
  --palette-text-icon: rgba(255, 255, 255, 0.5);
  --palette-text-primaryChannel: 255 255 255;
  --palette-text-secondaryChannel: 178 186 194;
  --palette-grey-50: #F3F6F9;
  --palette-grey-100: #E7EBF0;
  --palette-grey-200: #E0E3E7;
  --palette-grey-300: #CDD2D7;
  --palette-grey-400: #B2BAC2;
  --palette-grey-500: #A0AAB4;
  --palette-grey-600: #6F7E8C;
  --palette-grey-700: #3E5060;
  --palette-grey-800: #2D3843;
  --palette-grey-900: #1A2027;
  --palette-grey-main: #132F4C;
  --palette-grey-contrastText: #6F7E8C;
  --palette-grey-A100: #f5f5f5;
  --palette-grey-A200: #eeeeee;
  --palette-grey-A400: #bdbdbd;
  --palette-grey-A700: #616161;
  --palette-grey-mainChannel: 19 47 76;
  --palette-grey-contrastTextChannel: 111 126 140;
  --palette-error-50: #FFF0F1;
  --palette-error-100: #FFDBDE;
  --palette-error-200: #FFBDC2;
  --palette-error-300: #FF99A2;
  --palette-error-400: #FF7A86;
  --palette-error-500: #FF505F;
  --palette-error-600: #EB0014;
  --palette-error-700: #C70011;
  --palette-error-800: #94000D;
  --palette-error-900: #570007;
  --palette-error-main: #EB0014;
  --palette-error-light: #FF99A2;
  --palette-error-dark: #C70011;
  --palette-error-contrastText: #fff;
  --palette-error-mainChannel: 235 0 20;
  --palette-error-lightChannel: 255 153 162;
  --palette-error-darkChannel: 199 0 17;
  --palette-error-contrastTextChannel: 255 255 255;
  --palette-success-50: #E9FBF0;
  --palette-success-100: #C6F6D9;
  --palette-success-200: #9AEFBC;
  --palette-success-300: #6AE79C;
  --palette-success-400: #3EE07F;
  --palette-success-500: #21CC66;
  --palette-success-600: #1DB45A;
  --palette-success-700: #1AA251;
  --palette-success-800: #178D46;
  --palette-success-900: #0F5C2E;
  --palette-success-main: #1DB45A;
  --palette-success-light: #6AE79C;
  --palette-success-dark: #1AA251;
  --palette-success-contrastText: rgba(0, 0, 0, 0.87);
  --palette-success-mainChannel: 29 180 90;
  --palette-success-lightChannel: 106 231 156;
  --palette-success-darkChannel: 26 162 81;
  --palette-success-contrastTextChannel: 0 0 0;
  --palette-warning-50: #FFF9EB;
  --palette-warning-100: #FFF3C1;
  --palette-warning-200: #FFECA1;
  --palette-warning-300: #FFDC48;
  --palette-warning-400: #F4C000;
  --palette-warning-500: #DEA500;
  --palette-warning-600: #D18E00;
  --palette-warning-700: #AB6800;
  --palette-warning-800: #8C5800;
  --palette-warning-900: #5A3600;
  --palette-warning-main: #DEA500;
  --palette-warning-light: #FFDC48;
  --palette-warning-dark: #AB6800;
  --palette-warning-contrastText: rgba(0, 0, 0, 0.87);
  --palette-warning-mainChannel: 222 165 0;
  --palette-warning-lightChannel: 255 220 72;
  --palette-warning-darkChannel: 171 104 0;
  --palette-warning-contrastTextChannel: 0 0 0;
  --palette-secondary-main: #ce93d8;
  --palette-secondary-light: #f3e5f5;
  --palette-secondary-dark: #ab47bc;
  --palette-secondary-contrastText: rgba(0, 0, 0, 0.87);
  --palette-secondary-mainChannel: 206 147 216;
  --palette-secondary-lightChannel: 243 229 245;
  --palette-secondary-darkChannel: 171 71 188;
  --palette-secondary-contrastTextChannel: 0 0 0;
  --palette-info-main: #29b6f6;
  --palette-info-light: #4fc3f7;
  --palette-info-dark: #0288d1;
}

.container {
  max-width: 1400px;
  margin: auto;
}

body {
  background-color: #f5f5f5;
  padding: 0px 10px;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

nav {
  display: flex;
  flex-direction: initial;
  justify-content: space-between;
  align-items: center;
}
nav li {
  padding: 0px 35px;
}
nav .nav-links {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
}

main {
  height: calc(100vh - 80px);
  position: relative;
}
main .landing {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
  justify-content: center;
  align-items: center;
}
main .animation-section {
  margin: auto;
}
main .animation-section img {
  width: 350px;
}

.social-links {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
}
.social-links .social-link {
  margin: 0 10px;
  position: relative;
}
.social-links .social-link::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 0;
  width: 100%;
  border-bottom: 2px solid rgb(75, 75, 75);
  transition: bottom 0.15s ease-in-out;
}
.social-links .social-link:hover:after {
  bottom: -5px;
}/*# sourceMappingURL=style.css.map */